<nav class="bg-red-600 flex justify-between items-center px-6 py-3">
  
  @if(getRole() !== 'Organizer' && getRole() !== 'Admin') {
    <span class="text-white font-bold text-xl cursor-pointer" [routerLink]="['/events']">EventTicketing</span>
  }

  @if(getRole() === 'Organizer' || getRole() === 'Admin') {
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon class="text-white">menu</mat-icon>
    </button>
  }

  <div class="flex gap-4 items-center">
    @if(!isLoggedIn()) {
      <button mat-raised-button (click)="openLogin()">Access</button>
      <button mat-raised-button (click)="openOrganizerLogin()">Create Event</button>
    }

    @if(isLoggedIn() && getRole() === 'User') {
      <button mat-raised-button [routerLink]="['/my-tickets']">My tickets</button>
    }

    @if(isLoggedIn()) {
      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <mat-icon class="text-white">account_circle</mat-icon>
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item>My account</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    }
  </div>
</nav>