<nav class="bg-red-600 flex justify-between items-center px-6 py-3">
  <span class="text-white font-bold text-xl cursor-pointer" [routerLink]="['/events']">EventTicketing</span>
  
  <div class="flex gap-4 items-center">
@if(!isLoggedIn()) {
  <!-- Login + Create event -->
    <button mat-raised-button [routerLink]="['/login']">Login</button>
    <button mat-raised-button [routerLink]="['/createevent']">Create Event</button>
}

@if(isLoggedIn() && getRole() === 'User') {
  <!-- My tickets + Logout -->
   <button mat-raised-button [routerLink]="['/my-tickets']">My Tickets</button>
   <button mat-raised-button (click)="logout()">Logout</button>
}

@if(isLoggedIn() && getRole() === 'Organizer') {
  <!-- My events + Create event + Logout -->
   <button mat-raised-button [routerLink]="['/organizer-events']">My Events</button>
   <button mat-raised-button (click)="logout()">Logout</button>
}

@if(isLoggedIn() && getRole() === 'Admin') {
  <!-- Admin panel + Logout -->
   <button mat-raised-button [routerLink]="['/admin']">Admin Panel</button>
    <button mat-raised-button (click)="logout()">Logout</button>}
  </div>
</nav>